<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home" aria-hidden="true"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="book-ticket">
      <ion-icon name="time" aria-hidden="true"></ion-icon>
      <ion-label>Solicitar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="request-list">
      <ion-icon name="list" aria-hidden="true" ></ion-icon>
      <ion-label>Solicitudes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="reserved-list">
      <ion-icon name="wallet" aria-hidden="true"></ion-icon>
      <ion-label>Reservados</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs> 
